footer
	// Container Starts
	.container
		// Row Starts
		.row.section
			// Footer Widget Starts
			.footer-widget.col-md-3.col-xs-12.wow.fadeIn(style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;')
				h3.small-title
					| Не откладывайте решение вопроса о защите объекта на потом!
				p
					| Установка систем видеонаблюдения на объекте снижает вероятность краж на 89%.
					| Мы поможем вам собрать свой комплект оборудования или подобрать готовую систему с учетом ваших потребностей.
				p Присоединяйтесь к нам в социальных сетях!
				.social-footer
					a(href='#')
						i.fa.fa-facebook.icon-round
					a(href='#')
						i.fa.fa-vk.icon-round
					a(href='#')
						i.fa.fa-instagram.icon-round
			// Footer Widget Ends
			// Footer Widget Starts
			.footer-widget.col-md-3.col-xs-12.wow.fadeIn(data-wow-delay='.2s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;')
				h3.small-title
					| Контакты
				ul.recent-tweets
					li.tweet.
						Многоканальный телефон:<br>
						8-800-550-44-60<br><br>

						Адреса<br>

						Краснодарский край, г. Сочи<br>

						ул. Пластунская, 81, 4 этаж, оф. 4<br>
						(бизнес-центр «Гранд», вход с торца)<br>

						ул. Старонасыпная 30\2<br>
						(магазин «Исток-Электрика»)<br>

						Ждем вас каждый день с 9:00 до 18:00!
			// Footer Widget Ends
			// Footer Widget Starts
			.footer-widget.col-md-3.col-xs-12.wow.fadeIn(data-wow-delay='.5s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;')
				h3.small-title
					| Примеры выполненных проектов
				.plain-flicker-gallery
					a(href='http://placehold.it/500x500', title='Pan Masala' data-lightbox="img")
						img(src='http://placehold.it/500x500', alt='')
					a(href='http://placehold.it/700x700', title='Pan Masala' data-lightbox="img")
						img(src='http://placehold.it/700x700', alt='')
					a(href='http://placehold.it/550x550', title='Pan Masala' data-lightbox="img")
						img(src='http://placehold.it/550x550', alt='')
					a(href='http://placehold.it/800x800', title='Pan Masala' data-lightbox="img")
						img(src='http://placehold.it/800x800', alt='')
					a(href='http://placehold.it/550x550', title='Pan Masala' data-lightbox="img")
						img(src='http://placehold.it/600x600', alt='')
					a(href='http://placehold.it/500x500', title='Pan Masala' data-lightbox="img")
						img(src='http://placehold.it/500x500', alt='')
			// Footer Widget Ends
			// Footer Widget Starts
			.footer-widget.col-md-3.col-xs-12.wow.fadeIn(data-wow-delay='.8s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .8s; -moz-animation-delay: .8s; animation-delay: .8s;')
				h3.small-title
					| Задайте вопрос специалисту!
				.contact-us
					p Tellus aliquam at. Pellentesque gravida vel eros et pretium
					form
						.form-group
							input#enterData.form-control(type='text', placeholder='Введите свой E-mail')
							input#enterData.form-control(type='text', placeholder='Введите свой вопрос')
						button.btn.btn-common.form-btnn(type='submit') Отправить
			// Footer Widget Ends
		// Row Ends
	// Container Ends
	// Copyright

.popup-form
	.icon-close
	p.
		Заполните форму, и мы свяжемся с вами в течение 30 минут
	form
		.form-group
			input#enterData.form-control(type='text', placeholder='Введите свой E-mail')
			input#enterData.form-control(type='text', placeholder='Введите свой вопрос')
		button.btn.btn-common.form-btnn(type='submit') Отправить