footer
	// Container Starts
	.container
		// Row Starts
		.row.section
			// Footer Widget Starts
			.footer-widget.col-md-3.col-xs-12.wow.fadeIn(style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;')
				h3.small-title
					| ABOUT US
				p
					| Etiam ornare condimentum massa et scelerisque. Mauris nibh ipsum, laoreet at venenatis ac, rutrum sed risus,
				p Aliquam magna nibh, mattis a urna nec. Semper venenatis magna.
				.social-footer
					a(href='http://demo.graygrids.com/themes/engage/#')
						i.fa.fa-facebook.icon-round
					a(href='http://demo.graygrids.com/themes/engage/#')
						i.fa.fa-twitter.icon-round
					a(href='http://demo.graygrids.com/themes/engage/#')
						i.fa.fa-linkedin.icon-round
					a(href='http://demo.graygrids.com/themes/engage/#')
						i.fa.fa-google-plus.icon-round
			// Footer Widget Ends
			// Footer Widget Starts
			.footer-widget.col-md-3.col-xs-12.wow.fadeIn(data-wow-delay='.2s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;')
				h3.small-title
					| TWITTER
				ul.recent-tweets
					li.tweet
						| My
						a(href='http://demo.graygrids.com/themes/engage/#') @Quora
						span.tweet-text
							| answer to What's the best FAQ plugin for WordPress?
						a(href='http://demo.graygrids.com/themes/engage/#') qr.ae/RFTbIGa
						span.tweet-date
							| August 21, 2015 10:29pm
					li.tweet
						| WPB Advanced FAQ | Probably The Best WordPress FAQ Plugin
						a(href='http://demo.graygrids.com/themes/engage/#') wpbean.com/wpb-advanced-faq-pr…
						span.tweet-text
							| via
						a(href='http://demo.graygrids.com/themes/engage/#') @wpbean
						span.tweet-date
							| August 19, 2015 8:49 am
			// Footer Widget Ends
			// Footer Widget Starts
			.footer-widget.col-md-3.col-xs-12.wow.fadeIn(data-wow-delay='.5s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;')
				h3.small-title
					| GALLERY
				.plain-flicker-gallery
					a(href='http://demo.graygrids.com/themes/engage/#', title='Pan Masala')
						img(src='img/img1(3).jpg', alt='')
					a(href='http://demo.graygrids.com/themes/engage/#', title='Sports Template for Joomla')
						img(src='img/img2(3).jpg', alt='')
					a(href='http://demo.graygrids.com/themes/engage/', title='Apple Keyboard')
						img(src='img/img3(3).jpg', alt='')
					a(href='http://demo.graygrids.com/themes/engage/', title='Hard Working')
						img(src='img/img4(2).jpg', alt='')
					a(href='http://demo.graygrids.com/themes/engage/', title='Smile')
						img(src='img/img5(2).jpg', alt='')
					a(href='http://demo.graygrids.com/themes/engage/', title='Puzzle')
						img(src='img/img6(1).jpg', alt='')
			// Footer Widget Ends
			// Footer Widget Starts
			.footer-widget.col-md-3.col-xs-12.wow.fadeIn(data-wow-delay='.8s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .8s; -moz-animation-delay: .8s; animation-delay: .8s;')
				h3.small-title
					| SUBSCRIBE US
				.contact-us
					p Tellus aliquam at. Pellentesque gravida vel eros et pretium
					form
						.form-group
							input#exampleInputName2.form-control(type='text', placeholder='Enter your name')
						.form-group
							input#exampleInputEmail2.form-control(type='email', placeholder='Enter your email')
						button.btn.btn-common(type='submit') Submit
			// Footer Widget Ends
		// Row Ends
	// Container Ends
	// Copyright
	#copyright
		.container
			.row
				.col-md-6.col-sm-6
					p.copyright-text
						| ©  2016 Engage. All right reserved. Designed with by
						a(href='http://demo.graygrids.com/themes/engage/#') GrayGrids
				.col-md-6.col-sm-6
					ul.nav.nav-inline.pull-xs-right
						li.nav-item
							a.nav-link.active(href='http://demo.graygrids.com/themes/engage/#') Home
						li.nav-item
							a.nav-link(href='http://demo.graygrids.com/themes/engage/#') Sitemap
						li.nav-item
							a.nav-link(href='http://demo.graygrids.com/themes/engage/#') Privacy Policy
						li.nav-item
							a.nav-link(href='http://demo.graygrids.com/themes/engage/#') Terms of services