header#header-wrap
	// Roof area starts
	// Roof area Ends
	// Header area starts
	section#header
		// Navbar Starts
		nav.navbar.navbar-light(data-spy='affix', data-offset-top='50')
			.container
				button.navbar-toggler.hidden-md-up.pull-xs-right(data-target='#main-menu', data-toggle='collapse', type='button')
					| ☰
				// Brand
				a.navbar-brand(href='#')
					img(src='img/logo.png', alt='')
				#main-menu.collapse.navbar-toggleable-sm.pull-xs-left.pull-md-right
					// Navbar Starts
					ul.nav.nav-inline
						li.nav-item.dropdown
							a.nav-link.active(href='#', role='button', aria-haspopup='true', aria-expanded='false') Готовые системы
						li.nav-item.dropdown
							a.nav-link(href='#', role='button', aria-haspopup='true', aria-expanded='false') Калькулятор
						li.nav-item.dropdown
							a.nav-link(href='#', role='button', aria-haspopup='true', aria-expanded='false') Контакты
						a.btn.btn-lg.btn-common(href='tel:88005504460')
							i.fa.fa-phone(aria-hidden='true')
							|Заказать звонок						
				// Form for navbar search area
				form.full-search
					.container
						input(type='text', placeholder='Type to Search')
						a.close-search(href='#')
							span.fa.fa-times.fa-2x
				// Search form ends
		// Navbar Ends
	// Main Carousel Section
	#carousel-area
		#carousel-slider.carousel.slide(data-ride='carousel')
			// Indicators
			ol.carousel-indicators
				li(data-target='#carousel-slider', data-slide-to='0')
				li(data-target='#carousel-slider', data-slide-to='1')
				li.active(data-target='#carousel-slider', data-slide-to='2')
			.carousel-inner(role='listbox')
				.carousel-item
					img(src='img/bg-1.jpg', alt='First slide')
					.carousel-caption
						h2
							| Установка незаметных систем видеонаблюдения 
						h3
							| Готовые решения для частных и промышленных объектов в цифровом и аналоговом вариантах <br>
							| Узнайте точную стоимость системы - инженер составит смету во время бесплатного выезда на ваш объект
						a.btn.btn-lg.btn-common(href='#')
							i.fa.fa-download
							|Вызвать инженера
				.carousel-item
					img(src='img/bg-2.jpg', alt='Second slide')
					.carousel-caption
						h2
							| Установка незаметных систем видеонаблюдения 
						h3
							| Готовые решения для частных и промышленных объектов в цифровом и аналоговом вариантах <br>
							| Узнайте точную стоимость системы - инженер составит смету во время бесплатного выезда на ваш объект
						a.btn.btn-common.btn-lg(href='#')
							i.fa.fa-coffee
							|Вызвать инженера
				.carousel-item.active
					img(src='img/bg-3.jpg', alt='Second slide')
					.carousel-caption
						h2
							| Установка незаметных систем видеонаблюдения 
						h3
							| Готовые решения для частных и промышленных объектов в цифровом и аналоговом вариантах <br>
							| Узнайте точную стоимость системы - инженер составит смету во время бесплатного выезда на ваш объект
						a.btn.btn-common.btn-lg(href='#')
							i.fa.fa-download
							| Вызвать инженера
			a.left.carousel-control.nav-prev(href='#carousel-slider', role='button', data-slide='prev')
				span.sr-only Previous
			a.right.carousel-control.nav-next(href='#carousel-slider', role='button', data-slide='next')
				span.sr-only Next
	// Main Carousel Section End
// Header-wrap Section End
// Service Block-1 Section
