section.split.section
	// Container Starts
	.container
		.row
			h1.section-title.wow.fadeIn.animated.animated(data-wow-delay='.2s', style='visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;')
				| Что мы предлагаем?
			.col-md-4.col-sm-12.col-xs-12.wow.animated.fadeInLeft.animated(data-wow-delay='.3s', style='visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;')
				.images
					img(src='img/plain-why-choose-us-2.png', alt='')
			.col-md-8.col-sm-12.col-xs-12.wow.animated.fadeInRight.animated(data-wow-delay='.3s', style='visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;')
				.content-inner
					p.lead
						| Мы занимаемся установкой систем видеонаблюдения как в частных и многоквартирных домах, так и в торговыых помещениях, офисах, на складах и парковках. Каждый клиент получает оптимальный вариант оборудования в зависимости от своих целей, бюджета и особенностей объекта.
					.details-list
						.row
							.col-sm-6.col-xs-12
								h3 Цифровые системы
								p
									| Четкое отображение движущихся объектов, воспроизведение деталей за счет мегапиксельного разрешения и синхронизация аудио с видео.
							.col-sm-6.col-xs-12
								h3 Аналоговые системы
								p
									| Бюджетный, простой в использовании и проверенный временем вариант для небольших помещений и территорий.
	// Container Ends
// About Us Section Ends
// Other Services Section
section#service-block-main.section
	// Container Starts
	.container
		.row
			h1.section-title.wow.fadeIn.animated.animated(data-wow-delay='.2s', style='visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;')
				| Индивидуальные решения
			p.section-subcontent
				| В нашем ассортименте - более 100 видов товаров для комплектации систем безопасности.
				| Обратившись в компанию "Защитник", вы получаете индивидуальную сборку системы по прараметрам вашего объекта.
				br
				|  blanditiis praesentium
			.col-sm-6.col-md-3
				// Service-Block-1 Item Starts
				.service-item.wow.fadeInUpQuick.animated.animated(data-wow-delay='.5s', style='visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;')
					.icon-wrapper
						i.icon-layers.pulse-shrink
					h2
						| Внутреннее видеонаблюдение
					p
						| Камеры для установки в помещении, в том числе скрытые.
				// Service-Block-1 Item Ends
			.col-sm-6.col-md-3
				// Service-Block-1 Item Starts
				.service-item.wow.fadeInUpQuick.animated.animated(data-wow-delay='.8s', style='visibility: visible;-webkit-animation-delay: .8s; -moz-animation-delay: .8s; animation-delay: .8s;')
					.icon-wrapper
						i.icon-settings.pulse-shrink
					h2
						| Охрана периметра
					p
						| Уличные камеры, в частности укомлектованные датчиками движения.
				// Service-Block-1 Item Ends
			.col-sm-6.col-md-3
				// Service-Block-1 Item Starts
				.service-item.wow.fadeInUpQuick.animated.animated(data-wow-delay='1.1s', style='visibility: visible;-webkit-animation-delay: 1.1s; -moz-animation-delay: 1.1s; animation-delay: 1.1s;')
					.icon-wrapper
						i.icon-energy.pulse-shrink
					h2
						| Контроль и управление доступом
					p
						| Комплекты домофонии, охранная сигнализация.
				// Service-Block-1 Item Ends
			.col-sm-6.col-md-3
				// Service-Block-1 Item Starts
				.service-item.wow.fadeInUpQuick.animated.animated(data-wow-delay='1.4s', style='visibility: visible;-webkit-animation-delay: 1.4s; -moz-animation-delay: 1.4s; animation-delay: 1.4s;')
					.icon-wrapper
						i.icon-cup.pulse-shrink
					h2
						| Wifi-системы
					p
						| Беспроводное оборудование для незаметного монтажа
		.row
			.callUss
				p.
					Расскажите о своем объекте, и мы подберем для вас оптимальные комплектующие
				a.btn.btn-lg.btn-common(href='#')
					i.fa.fa-phone(aria-hidden='true')
					|Подобрать оборудование
			// Service-Block-1 Item Ends
	// Container Ends
// Service Main Section Ends
// About Us Section Start
section#portfolio.section
	// Container Starts
	.container
		.row
			h1.section-title.wow.fadeInUpQuick(data-wow-delay='.3s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;')
				| Готовые системы
			p.section-subcontent.wow.fadeInUpQuick(data-wow-delay='.4s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;')
				| Монтаж любой из систем не испортит внешнего вида здания: незаметные камеры оснащены онлайн-доступом для <br> удаленного просмотра, а передача по Wi-Fi обеспечит круглосуточное наблюдение за объектом с любой точки планеты.
			// Portfolio Controller/Buttons
			.controls.text-center.wow.fadeInUpQuick(data-wow-delay='.6s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;')
				a.filter.btn.btn-common.active(data-filter='all')
					| Все комплекты
				a.filter.btn.btn-common(data-filter='.house')
					| Дом
				a.filter.btn.btn-common(data-filter='.sellHouse')
					| Торговые помещения
				a.filter.btn.btn-common(data-filter='.office')
					| Офис
				a.filter.btn.btn-common(data-filter='.room')
					| Квартира
				a.filter.btn.btn-common(data-filter='.access')
					| Подъезд
				a.filter.btn.btn-common(data-filter='.parking')
					| Парковка
			// Portfolio Controller/Buttons Ends
			// Portfolio Recent Projects
			#portfolio-list.wow.fadeInUpQuick(data-wow-delay='.8s', style='visibility: hidden; animation-name: none; animation-delay: 0.8s;')
				.col-md-6.col-lg-4.col-sm-6.col-xs-12.mix.house.sellHouse(style='display: inline-block;', data-bound='')
					.portfolio-item
						.portfolio-img
							img(src='img/img1.jpg', alt='')
						.portfoli-content
							.sup-desc-wrap
								.sup-desc-inner
									//- .sup-link
									//- 	a.left-link(href='#')
									//- 		i.icon-link
									//- 	a.right-link(href='#')
									//- 		i.icon-heart
									.sup-meta-wrap
										a.sup-title(href='#')
											h4 Для дома
										p.sup-description.
											8 камер на 1,3 Mpx <br>
											Цифровая система за 84 тыс. руб. <br>
											- HD-изображение <br>
											- Архив 20 суток <br>
											Аналоговая система за 52 700 руб. <br>
											(архив 14 суток)
				.col-md-6.col-lg-4.col-sm-6.col-xs-12.mix.sellHouse.room(style='display: inline-block;', data-bound='')
					.portfolio-item
						.portfolio-img
							img(src='img/img2.jpg', alt='')
						.portfoli-content
							.sup-desc-wrap
								.sup-desc-inner
									//- .sup-link
									//- 	a.left-link(href='#')
									//- 		i.icon-link
									//- 	a.right-link(href='#')
									//- 		i.icon-heart
									.sup-meta-wrap
										a.sup-title(href='#')
											h4 Для торгового помещения
										p.sup-description.
											- 8 камер на 1,3 Mpx  <br>
											- Кассовый объектив с функцией увеличения <br>
											- Шумоподавляющий микрофон <br>
											Цифровая система за 93 500 тыс. руб. <br>
											(архив 60 суток) <br>
											Аналоговая система за 63 400 руб. <br>
											(архив 30 суток)
				.col-md-6.col-lg-4.col-sm-6.col-xs-12.mix.office.parking(style='display: inline-block;', data-bound='')
					.portfolio-item
						.portfolio-img
							img(src='img/img3.jpg', alt='')
						.portfoli-content
							.sup-desc-wrap
								.sup-desc-inner
									//- .sup-link
									//- 	a.left-link(href='#')
									//- 		i.icon-link
									//- 	a.right-link(href='#')
									//- 		i.icon-heart
									.sup-meta-wrap
										a.sup-title(href='#')
											h4 Для офиса
										p.sup-description.
											1 камера на 1,3 Mpx<br>
											Цифровая система за 13 700 тыс. руб.<br>
											(архив 20 суток)<br>
											Аналоговая система за 13 400 руб.<br>
											(архив 14 суток)
				.col-md-6.col-lg-4.col-sm-6.col-xs-12.mix.room.house(style='display: inline-block;', data-bound='')
					.portfolio-item
						.portfolio-img
							img(src='img/img4.jpg', alt='')
						.portfoli-content
							.sup-desc-wrap
								.sup-desc-inner
									//- .sup-link
									//- 	a.left-link(href='#')
									//- 		i.icon-link
									//- 	a.right-link(href='#')
									//- 		i.icon-heart
									.sup-meta-wrap
										a.sup-title(href='#')
											h4 Для квартиры
										p.sup-description.
											- 3 камеры на 1,3 Mpx<br>
											- Архив 30 суток<br>
											- Микрофон<br>
											Цифровая система за 34 900 тыс. руб.<br>
											(незаметная за счет скрытого монтажа)<br>
											Аналоговая система за 26 900 руб.
				.col-md-6.col-lg-4.col-sm-6.col-xs-12.mix.access.office(style='display: inline-block;', data-bound='')
					.portfolio-item
						.portfolio-img
							img(src='img/img5.jpg', alt='')
						.portfoli-content
							.sup-desc-wrap
								.sup-desc-inner
									//- .sup-link
									//- 	a.left-link(href='#')
									//- 		i.icon-link
									//- 	a.right-link(href='#')
									//- 		i.icon-heart
									.sup-meta-wrap
										a.sup-title(href='#')
											h4 Для подъезда
										p.sup-description.
											- 1 камера на 1,3 Mpx<br>
											Цифровая система за 53 500 тыс. руб.<br>
											- Архив 14 суток<br>
											- Современная IP-домофония (локальная вызывная панель, подключенная к Интернету)<br>
											Аналоговая система за 42 900 руб.<br>
											- Архив 30 суток<br>
											- Микрофон<br>
											- Вывод изображения на монитор
				.col-md-6.col-lg-4.col-sm-6.col-xs-12.mix.parking.access(style='display: inline-block;', data-bound='')
					.portfolio-item
						.portfolio-img
							img(src='img/img6.jpg', alt='')
						.portfoli-content
							.sup-desc-wrap
								.sup-desc-inner
									//- .sup-link
									//- 	a.left-link(href='#')
									//- 		i.icon-link
									//- 	a.right-link(href='#')
									//- 		i.icon-heart
									.sup-meta-wrap
										a.sup-title(href='#')
											h4 Для парковки
										p.sup-description.
											- 8 уличных камер на 2 Mpx<br>
											- Архив 60 суток<br>
											- Шлагбаум<br>
											Цифровая система за 425 000 тыс. руб.<br>
											(интегрированная система контроля доступа, учет посетителей, определение номеров)<br>
											Аналоговая система за 245 000 руб.<br>
											(базовая система контроля доступа)<br>
			// End Portfolio Recent Projects
			p.section-subcontent.titleBitg.wow.fadeInUpQuick(data-wow-delay='.4s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;')
				| Монтаж любой из систем не испортит внешнего вида здания: незаметные камеры оснащены онлайн-доступом для <br> удаленного просмотра, а передача по Wi-Fi обеспечит круглосуточное наблюдение за объектом с любой точки планеты.
			.loadmore-button.wow.fadeInUpQuick(data-wow-delay='.6s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;')
				a.btn.btn-common(href='#')
					i.fa.fa-percent(aria-hidden='true')
					|  Получить скидку
	// Container Ends
// Portfolio Section Ends
// Featured Section Starts

section.construct-block.allready-showed(style='background-image: url("img/bg-5.jpg");')
	.construct-block-title
		.container
			.row
				h1.section-title.wow.fadeInUpQuick(data-wow-delay='.3s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;')
					| БЫСТРЫЙ РАСЧЕТ СТОИМОСТИ
	.constr
		.inconstructor
			form(action='order.php', method='post')
				.step1
					.line-constr.wow.fadeInLeft
						h4 1. Сколько камер вы планируете установить?
						table.constructor.grey-color
							tbody
								tr
									td(width='25%')
										| скрытые
										.inputBoxDiv(style='width: 44.4px;')
											input.inputBox.spinner(name='hid_cam', type='text', value='1')
									td(width='25%')
										| уличные
										.inputBoxDiv(style='width: 44.4px;')
											input.inputBox.spinner(name='out_cam', type='text', value='1')
									td(width='25%')
										| внутренние
										.inputBoxDiv(style='width: 44.4px;')
											input.inputBox.spinner(name='inn_cam', type='text', value='1')
									td(width='25%')
										| поворотные
										.inputBoxDiv(style='width: 44.4px;')
											input.inputBox.spinner(name='rot_cam', type='text', value='1')
					.line-constr.wow.fadeInLeft
						h4 2. Какую систему видеонаблюдения вы хотите использовать?
						table.constructor
							tbody
								tr
									td(colspan='2')
										label.radio
											input(type='radio', name='sys_type', value='Цифровая')
											|Цифровую
											b.fa
									td(colspan='2')
										label.radio
											input(type='radio', name='sys_type', value='Аналоговая')
											|Аналоговую (AHD)
											b.fa
					.line-constr.wow.fadeInLeft
						h4 3. Тип видео
						table.constructor.no-padding
							tbody
								tr
									td
										label.radio
											input(type='radio', name='vid_type', value='Эконом')
											|Эконом (обзорная система слежения)
											b.fa
								tr
									td
										label.radio
											input(type='radio', name='vid_type', value='Стандарт')
											|Стандарт (несколько обзорных камер и камеры с узконаправленной фокусировкой)
											b.fa
								tr
									td
										label.radio
											input(type='radio', name='vid_type', value='Профи')
											|Профи (камеры HD с высоким разрешением и цветопередачей)
											b.fa
					.line-constr.wow.fadeInLeft
						h4 4. Архив записи
						table.constructor
							tbody
								tr
									td(colspan='2', width='33%')
										label.radio
											input(type='radio', name='rec_archive', value='до 30 дней')
											|До 30 дней
											b.fa
									td(width='34%')
										label.radio
											input(type='radio', name='rec_archive', value='до 60 дней')
											|До 60 дней
											b.fa
									td(width='33%')
										label.radio
											input(type='radio', name='rec_archive', value='более 60 дней')
											|Более 60 дней
											b.fa
					.line-constr.wow.fadeInLeft
						h4 5. Как вы планируете осуществлять монтаж системы?
						table.constructor
							tbody
								tr
									td(colspan='2')
										label.radio
											input(type='radio', name='sys_montag', value='Специалисты')
											|Установка специалистами "Наблюдатель"
											b.fa
									td(colspan='2')
										label.radio
											input(type='radio', name='sys_montag', value='Самостоятельно')
											|Своими силами
											b.fa
					.but.gotostep2.wow.fadeInLeft Рассчитать
				// .step1
				.step2
					h3
						| Введите свои контактные данные, и наши специалисты рассчитают стоимость вашего заказа
					input(type='text', name='name', placeholder='Введите имя')
					input(type='text', name='phone', placeholder='Введите телефон')
					.but.toback(onclick='Lp.stepper();') ← Назад
					.but.submit Отправить
				// .step2
		// .inconstructor
	// .constr

section#featured.section
	// Container Starts
	.container
		.row
			h1.section-title.wow.fadeInUpQuick(style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;')
				| Почему с нами - удобно?
			//- p.section-subcontent
			//- 	| At vero eos et accusamus et iusto odio dignissimos ducimus qui
			//- 	br
			//- 	|  blanditiis praesentium
			// Start Service Icon 1
			.col-md-4.col-sm-6(data-animation='fadeIn', data-animation-delay='01')
				.featured-box
					.featured-icon
						i.icon-present
					.featured-content
						h4
							| Экономим ваши деньги
						p
							| После бесплатного осмотра состалвяется фиксированная смета. Настройка системы выполняется бесплатно!
			// End featured Icon 1
			// Start featured Icon 1
			.col-md-4.col-sm-6.wow.fadeInUpQuick(data-wow-delay='.2s', data-animation='fadeIn', data-animation-delay='01', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;')
				.featured-box
					.featured-icon
						i.icon-rocket
					.featured-content
						h4
							| Ценим время клиентов
						p
							| Доставляем системы в течение 1-2 дней и выполняем монтаж до 10 камер за 24 часа.
			// End featured Icon 1
			// Start featured Icon 1
			.col-md-4.col-sm-6.wow.fadeInUpQuick(data-wow-delay='.3s', data-animation='fadeIn', data-animation-delay='01', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;')
				.featured-box
					.featured-icon
						i.icon-pencil
					.featured-content
						h4
							| Обеспечиваем информационную помощь
						p
							| Обучаем пользованию и предоставляем консультации как до, так и после обращения к нам.
			// End featured Icon 1
			// Start featured Icon 1
			.col-md-4.col-sm-6.wow.fadeInUpQuick(data-wow-delay='.4s', data-animation='fadeIn', data-animation-delay='01', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;')
				.featured-box
					.featured-icon
						i.icon-diamond.icon-large.icon-effect
					.featured-content
						h4
							| Гарантируем качество
						p
							| Вы получите гарантию 24 месяца и возможность постгарантийного обслуживания.
			// End featured Icon 1
			// Start featured Icon 1
			.col-md-4.col-sm-6.wow.fadeInUpQuick(data-wow-delay='.5s', data-animation='fadeIn', data-animation-delay='01', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;')
				.featured-box
					.featured-icon
						i.icon-settings
					.featured-content
						h4
							| Ищем индивидуальные решения
						p
							| Определяем оптимальную схему распределения камер и выполняем монтаж под ключ
			// End featured Icon 1
			// Start featured Icon 1
			.col-md-4.col-sm-6.wow.fadeInUpQuick(data-wow-delay='.6s', data-animation='fadeIn', data-animation-delay='01', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;')
				.featured-box
					.featured-icon
						i.icon-star
					.featured-content
						h4
							| Заботимся об эстетичности
						p
							| За счет скрытого монтажа незаметных камер в интерьере и экстерьере здания ничего не изменится.
			// End featured Icon 1
	// Container Ends
// Featured Section Ends
// Pricing Table Section
section#cool-facts.section
	// Container Starts
	.container
		// Row Starts
		.row
			h1.section-title.wow.fadeInUpQuick(style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;')
				| Причины довериться именно нам
			.col-sm-6.col-md-3.col-lg-3
				// Fact Block Starts
				.fact-block.clearfix.wow.fadeInUp(data-wow-delay='.3s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;')
					.facts-item
						i.icon-trophy
						.fact-count
							h3
								span.counter 5
							h4 лет опыта в сфере видеонаблюдения
				// Fact Block Ends
			.col-sm-6.col-md-3.col-lg-3
				// Fact Block Starts
				.fact-block.clearfix.wow.fadeInUp(data-wow-delay='.8s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .8s; -moz-animation-delay: .8s; animation-delay: .8s;')
					.facts-item
						i.icon-heart
						.fact-count
							h3
								span.counter 10
							h4 обслуживаемых объектов в месяц
				// Fact Block Ends
			.col-sm-6.col-md-3.col-lg-3
				// Fact Block Starts
				.fact-block.clearfix.wow.fadeInUp(data-wow-delay='1.1s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 1.1s; -moz-animation-delay: 1.1s; animation-delay: 1.1s;')
					.facts-item
						i.icon-camera
						.fact-count
							h3
								span.counter 5000
							h4 установленных камер в домах, ТЦ, на предприятиях
				// Fact Block Ends
			.col-sm-6.col-md-3.col-lg-3
				// Fact Block Starts
				.fact-block.clearfix.wow.fadeInUp(data-wow-delay='1.1s', style='visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 1.1s; -moz-animation-delay: 1.1s; animation-delay: 1.1s;')
					.facts-item
						i.icon-picture
						.fact-count
							h3
								span.counter 300
							h4 выполненных объектов по Большому Сочи
				// Fact Block Ends
		// Row Ends
	// Container Ends
// Cool Facts Section End
// Testimonial Section

// GOTOVO

a.back-to-top(href='#', style='display: none;')
	i.fa.fa-angle-up
.bottom
	a.settings(href='#')