//- script(defer='defer', src='js/vendor/vendor.js')
script(defer='defer', src='js/vendor/01jquery-min.js')
script(defer='defer', src='js/vendor/jquery.appear.js')
script(defer='defer', src='js/vendor/jquery.counterup.min.js')
script(defer='defer', src='js/vendor/jquery.mixitup.js')
script(defer='defer', src='js/vendor/jquery.vide.js')
script(defer='defer', src='js/vendor/jquery-ui.js')
script(defer='defer', src='js/vendor/bootstrap.min.js')
script(defer='defer', src='js/vendor/owl.carousel.js')
script(defer='defer', src='js/vendor/scroll-top.js')
script(defer='defer', src='js/vendor/color-switcher.js')
script(defer='defer', src='js/vendor/waypoints.min.js')
script(defer='defer', src='js/vendor/wow.js')
//- script(defer='defer', src='js/vendor/123.js')
script(defer='defer', src='js/script.js')