table {
	border-collapse:collapse;
}
table td {
	vertical-align: top;
}

/*----------H's-------------*/
h3 {
	font-weight: normal;
	margin: 0;
	font-family: segoe, verdana, arial, tahoma;
}
h4 {
margin: 0;
}
.but {
	background: #15a346;
	cursor: pointer;
	height: 33px;
	line-height: 35px;
	display: inline-block;
	padding: 0 32px;
	font-family: freesetcregular, tahoma, arial;
	color: #fff;
	margin-top: 10px;
}
.but:hover {
	background: #17aa49;
}
.but:active {
	background: #118f3c;
}
.but::-moz-selection {
	background: transparent;
}
.but::selection {
	background: transparent;
}
input[type="text"]{
	height: 30px;
	border: solid 1px #CCC;
	line-height: 32px;
	background: #FFF;
	display: inline-block;
	width: 200px;
	text-align: left;
	outline: none;
	// margin: 10px 8px 0 0;
	margin: 0;
	font-family: arial, tahoma, verdana;
	color: #444;
	font-size: 12px;
	vertical-align: top;
	padding: 0 0 0 8px;
}
input[type="text"]:focus {
	border-color: #15A346;
}
/*.closer:active {
	margin-top: -36px;
}*/

/* TABS */
/* TABS */

.construct-block-title {
	padding: 40px 0 20px;
	background-color: #fff;
}
.construct-block {
	width: 100%;
	/*background: url(../img/icons/bg3.jpg) no-repeat right 0;*/
	background-repeat: no-repeat;
	background-position: right 0;
	@include clearfix;
}
.constr {
	width: 50%;
	background: #fff;
	float: left;

}
@media (max-width: 965px) {
    .constr {width: 75%;}
    .step1 {margin-left: 10px;}
}
@media (max-width: 767px) {
    .constr {width: 100%;
    	padding-bottom: 10px;}
    .step1 {margin-left: 10px;}
    .construct-block {
    	background-size: cover;
    	padding-bottom: 10px;
    }
}

.inconstructor {
	max-width: 450px;
	margin: 0 32px 0 0;
	float: right;
	// padding: 16px 0 0 0;
	position: relative;
	overflow: hidden;
}
@media (max-width:479px) {
    .inconstructor {height: auto;margin: 10px;}
    .constructor td {font-size: 14px;}
    .construct-block-title {
    	padding: 0;
    }
}
@media (max-width: 965px) {
    .inconstructor {float: none;margin-left: 10px;}
}
.constructor {
	width: 100%;
}
.constructor td {
	padding: 12px 0 12px 0;
}
.inconstructor h4 {
	margin: 0;
	padding: 14px 0 0 0;
	font-size: 16px;
}
.no-padding {
	margin: 0 0 8px 0;
}
.no-padding td {
	padding: 12px 0 0 0;
}
.inconstructor input.inputBox {
	width: 60px;
	font-size: 16px;
	text-align: left;
	padding: 0 20px 0 6px;
	height: 32px;
}
.radio {
	padding: 0 0 0 32px;
	display: inline-block;
	text-indent: -4px;
}
input[type="radio"] {
	width: 1px;
	opacity: 0;
	margin: 0 0 0 -1px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.inputBoxDiv {
	position: relative;
	display: block;
	margin: 6px 0 0 0;
}
.inputBoxDiv i {
	font-style: normal;
	cursor: pointer;
	position: absolute;
	right: -10px;
	color: #555;
	background: #fff;
	height: 10px;
	line-height: 10px;
	font-size: 10px;
	width: 20px;
	margin-top: 10px;
	text-align: center;
	border-left: solid 1px #ddd;
	-o-transition: 0.2s 0 ease;
	-moz-transition: 0.2s 0 ease;
	-webkit-transition: 0.2s 0 ease;
	transition: 0.2s 0 ease;
}
.inputBoxDiv i:hover {
	background: #15A346;
	color: #fff;
}
.inputBoxDiv i:active {
	background: #036123;
	color: #fff;
}
.inputBoxDiv i::selection {
	background: transparent;
}
.inputBoxDiv i::-moz-selection {
	background: transparent;
}
.inputBoxDiv:hover input[type="text"] {
	border-color: #f60;
}
.inputplusone {
	top: 1px;
}
.inputminusone {
	top: 50%;
}
.step2 {
	display: none;
	padding: 270px 0 0 0;
}
.step2 h3 {
	font-size: 20px;
	font-weight: lighter;
	margin: 0 0 16px 0;
}
.step2 input[type="text"] {
	margin-bottom: 16px;
}
.toback {
	background: #ccc;
	color: #555;
}
.toback:hover {
	background: #ddd;
	color: #555;
}
.toback:active {
	background: #bbb;
	color: #555;
}


label.radio {
	input:checked {
		+ b.fa {
			@extend .fa-circle;
			line-height: 19px;
		}
	}
}

.radio {
	b.fa {
		position: absolute;
		display: inline-block;
		font-size: 14px;
		padding: 3px;
		width: 20px;
		height: 20px;
		border: 1px solid #ddd;
		left: 0;
		top: 0;
		border-radius: 50%;
		&:before {
			display: inline-block;
			position: absolute;
			font-size: 14px;
			line-height: 1;
			width: 14px;
			height: 14px;
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -2px;
		}
	}
}


.ui-spinner{
	margin: 10px 8px 0 0;
	.ui-spinner-up {
		@extend .fa;
		@extend .fa-caret-up;
		width: 20px;
		height: 15px;
		color: #555;
		padding-bottom: 4px;
	    border-left: solid 1px #ddd;
		&:hover {
			background-color: #f60;
		}
	}
	.ui-spinner-down {
		@extend .fa;
		@extend .fa-caret-down;
		width: 20px;
		height: 15px;
		padding-bottom: 4px;
		color: #555;
	    border-left: solid 1px #ddd;
		&:hover {
			background-color: #f60;
		}
	}
}

@media (max-width: 500px) {
	.inconstructor {
		max-width: initial;
	}
}